# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
# 署名・証明書・秘密鍵はリポジトリ直下の .gitignore にまとめてある
.kotlin/
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
